*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{
    /* width: 200px;
    height: 200px; */
    padding: 20px;
    margin: 5px;
    background-color: aqua;
}

.flex{
    height: 300px;
    background-color: red;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content:center; */
    /* justify-content:flex-end; */
    /* align-items: start; */
    /* align-items: stretch; */
    /* align-items: end; */
    align-items: center;
}

/* .inner{
    background-color: blue;
    height: 40px;
    width: 40px;
} */
